<script src="/resources/admin/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="/resources/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- AdminLTE App -->
<script src="/resources/admin/dist/js/adminlte.min.js"></script>

<script src="/resources/admin/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/resources/admin/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script layout:fragment="script"></script>