<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="book/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <a href="/index">
        <button class="btn btn-primary">Back Book</button>
    </a>
    <div class="box box-info">
        <div class="box-header with-border">
            <h1 class="box-title" th:text="${isnew ? 'Create Book' : 'Update Book'}"></h1>
            <form class="form-horizontal" th:action="${isnew ? '/create/submit' : '/update/submit'}" method="post"
                  th:object="${book}" enctype="multipart/form-data">
                <div class="box-body">
                    <input type="hidden" th:field="*{id}">

                    <span style="color: red;" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>

                    <br>
                    <div class="row">
                        <div class="col-lg-2">Title</div>
                        <div class="form-group col-lg-10">
                            <input type="text" class="form-control" th:field="*{title}">
                            <span style="color: red;" th:if="${#fields.hasErrors('title')}"
                                  th:text="${#fields.errors('title')}"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">Author:</div>
                        <div class="form-group col-lg-10">
                            <input type="text" class="form-control" th:field="*{author}">
                            <span style="color: red;" th:if="${#fields.hasErrors('author')}"
                                  th:text="${#fields.errors('author')}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">Publish:</div>
                        <div class="form-group col-lg-10">
                            <input type="text" class="form-control" th:field="*{publisher}">
                            <span style="color: red;" th:if="${#fields.hasErrors('publisher')}"
                                  th:text="${#fields.errors('publisher')}"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">thumnail:</div>
                        <div class="col-lg-10"><input type="hidden" th:text="*{thumnail}"></div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-lg-2">category:</div>
                        <div class=" col-lg-10">
                            <select class="form-control" th:name="category.id" id="category_id">
                                <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}"
                                        th:text="*{name}"></option>
                            </select><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2">
                            Image
                        </div>
                        <div class="form-group col-lg-10">
                            <input type="file" class="form-control" name="file">
                        </div>

                    </div>

                    <input type="submit" class="btn btn-primary" value="Submit">

                </div>
            </form>
        </div>
    </div>


</div>
<script src="/static/js/jquery.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var book_cate_id = /*[[${book.category.id}]]*/ null;
    var categories = /*[[${categories}]]*/ null;

    console.log(book_cate_id);
    // console.log(categories);
    /*]]>*/


    $(document).ready(function () {
        $.each(categories, function (index, category) {
            // console.log(category);
            if (book_cate_id == category.id) {
                $('#category_id option[value="' + book_cate_id + '"]').attr('selected', 'selected');
            }
        })
    });

</script>

</body>
</html>