<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="book/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>List of Book</title>
</head>
<body>

<div layout:fragment="content">
    <h1>


    </h1>
    <!--[[${books}]]-->

    <a href="http://localhost:8080/index/?lang=en"><img src="/static/image/uk.png" alt="" width="50px" height="50px"></a>
    <a href="http://localhost:8080/index/?lang=km"><img src="/static/image/cambodia.png" width="50px" height="50px" alt=""></a>
    <a href="http://localhost:8080/index/?lang=th"><img src="/static/image/thai.png" width="50px" height="50px" alt=""></a>

    <a href="/create">
        <button class="btn btn-primary">Create Book</button>
    </a>
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">List of all Books</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-6">

                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-striped dataTable" role="grid"
                               aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <th th:text="#{table.id}" class="sorting_asc" tabindex="0" aria-controls="example1"
                                    rowspan="1" colspan="1" aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending"
                                    style="width: 101px;">ID
                                </th>
                                <th th:text="#{table.title}" class="sorting" tabindex="0" aria-controls="example1"
                                    rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                                    style="width: 246px;">Title
                                </th>
                                <th th:text="#{table.author}" class="sorting" tabindex="0" aria-controls="example1"
                                    rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                    style="width: 119px;">Author
                                </th>
                                <th th:text="#{table.publisher}" class="sorting" tabindex="0" aria-controls="example1"
                                    rowspan="1" colspan="1"
                                    aria-label="Engine version: activate to sort column ascending" style="width: 72px;">
                                    Publisher
                                </th>
                                <th th:text="#{table.category}" class="sorting" tabindex="0" aria-controls="example1"
                                    rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                    style="width: 126px;">Category
                                </th>
                                <th th:text="#{table.image}" class="sorting" tabindex="0" aria-controls="example1"
                                    rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                                    style="width: 56px;">Image
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="CSS grade: activate to sort column ascending" style="width: 226px;">
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="bookes:${books}" role="row" class="even">
                                <td>[[${bookes.id}]]</td>
                                <td>[[${bookes.title}]]</td>
                                <td>[[${bookes.author}]]</td>
                                <td>[[${bookes.publisher}]]</td>
                                <td>[[${bookes.category.name}]]</td>
                                <td><img th:src="@{/images-pp/{thumnail}/(thumnail=*{bookes.thumnail})}" width="50px"
                                         height="50px" alt=""></td>
                                <td>
                                    <a  th:href="@{/view/{id}(id=${bookes.id})}">
                                        <button class="btn btn-primary" th:text="#{button.view}">View</button>
                                    </a>|
                                    <a th:href="@{/update/{id}(id=${bookes.id})}">
                                        <button class="btn btn-default" th:text="#{button.update}">Update</button>|
                                    </a>

                                        <button th:text="#{button.delete}" class="delete-btn btn btn-danger" th:attr="data-id=${bookes.id}">Delete</button>



                                </td>
                            </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"></div>
                    </div>
                    <div class="col-sm-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>


<!--<script type="text/javascript" src="/static/js/jquery.min.js"></script>-->

<script layout:fragment="script">
    $(document).ready(function () {
        $('.delete-btn').click(function () {
            var data_id = $(this).attr("data-id");
            if (confirm("Do you want to delete?")) {
                window.location = "http://localhost:8080/remove/" + data_id;
            }


        });
    });
    $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
            'paging'      : true,
            'lengthChange': true,
            'searching'   : true,
            'ordering'    : true,
            'info'        : true,
            'autoWidth'   : false
        })
    });
</script>


</body>
</html>
