<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
            xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorate="book/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div layout:fragment="content">

<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title" th:text="${change ? 'Create Category' : 'Update Category'}"></h3>
    </div>


    <form class="form-horizontal" method="post" th:action="${change ?'/category/submit' : '/category/update'  }" th:object="${categories}">
        <div class="box-body">

            <div class="form-group">
                <label  class="col-sm-2 control-label">category Name</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control"  th:field="*{name}" placeholder="Category Name">
                    <span style="color: red;" th:if="${#fields.hasErrors('name')}" th:text="${#fields.errors('name')}"></span>

                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

            <button type="submit" class="btn btn-info pull-right">Sign in</button>
        </div>
        <!-- /.box-footer -->
    </form>
</div>
</div>
</body>
</html>