<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="book/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <a href="http://localhost:8080/category/?lang=en"><img src="/static/image/uk.png" alt="" width="50px" height="50px"></a>
    <a href="http://localhost:8080/category/?lang=km"><img src="/static/image/cambodia.png" width="50px" height="50px" alt=""></a>
    <a href="http://localhost:8080/category/?lang=th"><img src="/static/image/thai.png" width="50px" height="50px" alt=""></a>

    <a href="/category/create">
        <button class="btn btn-danger">Create Category</button>
    </a>


    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Category List</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                <div class="row">
                    <div class="col-sm-12">
                        <table id="examples" class="table table-bordered table-striped dataTable" role="grid"
                               aria-describedby="example1_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-sort="ascending"
                                    aria-label="Rendering engine: activate to sort column descending"
                                    style="width: 201px;">ID
                                </th>
                                <th th:text="#{cate.name}" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 219px;">
                                    Name
                                </th>
                                <th  class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1"
                                    aria-label="Platform(s): activate to sort column ascending" style="width: 219px;">
                                    Action
                                </th>

                            </tr>
                            </thead>
                            <tbody>


                            <tr th:each="category : ${cate}" role="row" class="odd">
                                <td>[[${category.id}]]</td>
                                <td>[[${category.name}]]</td>
                                <td>
                                    <a  th:href="@{/category/view/{id}(id=${category.id})}">
                                        <button class="btn btn-primary" th:text="#{button.view}">View</button>
                                    </a>|
                                    <a th:href="@{/category/update/{id}(id=${category.id})}">
                                        <button class="btn btn-default" th:text="#{button.update}">Update</button>|
                                    </a>

                                    <button th:text="#{button.delete}" class="delete-btn btn btn-danger" th:attr="data-id=${category.id}">Delete</button>

                                </td>

                            </tr>

                            </tbody>

                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!-- /.box-body -->
    </div>


</div>
<script layout:fragment="script">

    $(document).ready(function () {
        $('.delete-btn').click(function () {
            var data_id = $(this).attr("data-id");
            if (confirm("Do you want to delete?")) {
                window.location = "http://localhost:8080/category/remove/" + data_id;
            }


        });
    });


    $(function () {
    $('#examples').DataTable({
    'paging'      : true,
    'lengthChange': true,
    'searching'   : true,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : false
    })
    });
</script>
</body>
</html>