<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="book/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content">
    <a href="/category">
        <button class="btn btn-primary">Back Category</button>
    </a>
    <div class="box box-info">
        <div class="box-header with-border">
            <form class="form-horizontal" method="post" th:action="@{'/category/update/submit'}" th:object="${category}">
                <div class="box-body">

                    <div class="form-group">
                        <label class="col-sm-2 control-label">category Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" th:field="*{name}" placeholder="Category Name">
                            <span style="color: red;" th:if="${#fields.hasErrors('name')}"
                                  th:text="${#fields.errors('name')}"></span>

                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                    <button type="submit" class="btn btn-info pull-right">Sign in</button>
                </div>
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
</div>
</body>
</html>